
<!DOCTYPE html>
<head>
  <title>TingtingChang|Developer</title>
  <link rel="stylesheet" type="text/css" href="profile.css">
</head>
<body>
  <header>
  <h3>Tingting Chang</h3>
  <div class="nav">
  <ul>
    <li><img src="img/smile_255_337.gif" alt="This is me"></li>
    <hr>
  </ul>
  </div>
</header>
<section>
  <h4>About the Developer</h4>
  <p class="about">
    I am TingtingChang, a hardworking girl who is trying to become an awesome  full stack developer and to make contributes to the female CS world. I have a computer science bachelor degree and right now I am at the tail of my graduate school year. I have been the U.S. for one year half but I am still working on my oral and writing in English. So feel free to correct me and help me to make progress! I like workout like swimming, dancing, yoga and running even though my knees seems does not cooperate very well. Last but not the least, I like food. If you share the same hobbies with me, let's be friends! :)
  </p>
</section>
<footer><h5><a href="#">-> Back to Full Profile</a></h5></footer>
</body>


