

* {
	font-size: 16px;
	color: #009933;
	padding-bottom: 5px;
}

#container {
	width: 45%;
	margin-left: 25%;
	margin-top: 20%;
	padding: 5px;
	border: 1px solid #F0F2ED;
	background-color:rgba(250,250,252,.9);
	box-shadow:0 0 3px #999;
}


h1 {
	text-align: center;
	font-size: 22px;
	padding-right: 25px;
}

input {
	background-color: #e6ffee;
	color: #b3b3b3;
	margin-left: 5%;
	padding: 3px;
}


a {
	text-decoration: none;
	margin-left: 5%;
}

a:hover {
	color: #ffcc00;
}

a:active {
	color: #4da6ff;
}

.submit {
	background-color: #67B04F;
	margin-left: 40%;
	color: #F0F2ED;
	font-size: 14px;
	text-align: center;
	padding: 5px;
	cursor: pointer;
	border: 1px solid white;
}
.submit:hover {
	background-color: #49962F;
}
.email, .password {
	width: 35%;
	margin: 5% 5% 2% 5%;
}

#errorBox {
	color: #f00;
}

