```

* {
	box-sizing: border-box;
	padding: 4px;
	color: #3399ff;
}

body {
	width: 80%;
	margin: 10% 0 0 20%;
	position: relative;
}

form {
	position: absolute;
	border: 1px solid #3399ff;
}

h3 {
	text-align: center;
}

textarea {
	width: 60%;
}

.message {
	padding-left: 5%;
}

p {
	padding-left: 5%;

}

```
