```

* {
	box-sizing: border-box;
	display: inline-block;
	text-align: left;
	color: #fff;
	font-size: 16px;
}

body {
	width: 50%;
	background-color: transparent;
	box-shadow: none;
	background: url("../img/yoga_meadow.png") no-repeat;

}

h1 {
	margin-left: 10%;
	font-size: 22px;
}

input {
	background-color: transparent;
	border: 1px solid #fff;
	-webkit-appearance: none;
	box-shadow: none;
}

p {
	float: left;
	width: 100%;
	margin-left: 10%;
	background-color: transparent;
	box-shadow: none;
	outline: none;
}

.submit {
	width: 25%;
	text-align: center;
}

#submit {
	background-color: #009933;
	border: none;
}

#submit:hover {
	background-color: #e62e00;
}






```
