<!DOCTYPE html>
<html>
<head>
	<title>Form Gallery</title>
	<link rel="stylesheet" type="text/css" href="./css/form.css">
</head>
<body>
	<h1>Assignment 4</h1>
	<table>
		<tr>
			<td>Assignment Name</td>
			<td>Assignment Showcase</td>
			<td><a href="https://github.com/Tingting-Chang/learning-web-components/tree/master/components/forms-inputs">Assignment Code Links</a></td>
		</tr>
		<tr>
			<td>A Signup Form</td>
			<td><a href="http://htmlpreview.github.io/?https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/signup.html">View Signup Form</a></td>
			<td><a href="https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/signup.html">Signup Form Code</a></td>
		</tr>
		<tr>
			<td>A Search Form</td>
			<td><a href="http://htmlpreview.github.io/?https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/search.html">View Search Form</a></td>
			<td><a href="https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/search.html">Search Form Code</a></td>
		</tr>
		<tr>
			<td>A questionnaire</td>
			<td><a href="http://htmlpreview.github.io/?https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/questionnaire.html">View questionnaire</a></td>
			<td><a href="https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/questionnaire.html"> Questionnaire Code</a></td>
		</tr>
		<tr>
			<td>A login form</td>
			<td><a href="http://htmlpreview.github.io/?https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/login.html">View login form</a></td>
			<td><a href="https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/login.html">Login Form Code</a></td>
		</tr>
		<tr>
			<td>A color building form</td>
			<td><a href="http://htmlpreview.github.io/?https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/building.html">View color building form</a></td>
			<td><a href="https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/building.html">Color Building form Code</a></td>
		</tr>
		<tr>
			<td>A Shipping and Billing Address Form</td>
			<td><a href="http://htmlpreview.github.io/?">View Shipping and Billing Address Form</a></td>
			<td><a href="https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/building.html">Shipping and Billing Address Form Code</a></td>
		</tr>
		<tr>
			<td>A Scheduling Form</td>
			<td><a href="http://htmlpreview.github.io/?https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/schedule.html">View Scheduling Form</a></td>
			<td><a href="https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/schedule.html">Scheduling Form Code</a></td>
		</tr>
		<tr>
			<td>A Credit / Debit Card Form</td>
			<td><a href="http://htmlpreview.github.io/?https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/credit.html">View Credit / Debit Card Form</a></td>
			<td><a href="https://github.com/Tingting-Chang/learning-web-components/blob/master/components/forms-inputs/credit.html">Credit / Debit Card Form Code</a></td>
		</tr>
	</table>
</body>
</html>
