<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
	<h1>Assignment Homepage</h1>
	<h2>Tingting Chang | Career Path 3:Modern Fronted Developer</h2>
	<h3 class="quote">---- "Now or Never"</h3>
	<table>
		<tr>
			<td>Project Assignment Name</td>
			<td>Project Assignment Showcase</td>
			<td>Original Code</td>
		</tr>
		<tr>
			<td>Project Assignment 2: Button Web Component</td>
			<td>
				<a href="http://htmlpreview.github.com/?https://github.com/Tingting-Chang/learning-web-components/blob/master/components/buttons/index.html">View Button Web Component</a>
			</td>
			<td>
				<a href="https://github.com/Tingting-Chang/learning-web-components/blob/master/components/buttons/index.html">Project Assignment 2</a>
			</td>
		</tr>
		<tr>
			<td>Project Assignment 3: Profiles.ModernDeveloper Sidebar</td>
			<td>
				<a href="http://htmlpreview.github.com/?https://github.com/Tingting-Chang/learning-web-components/blob/master/components/profile-card/index.html">View Profiles.ModernDeveloper Sidebar</a>
			</td>
			<td>
				<a href="https://github.com/Tingting-Chang/learning-web-components/blob/master/components/profile-card/index.html">Project Assignment 3</a>
			</td>
		</tr>
		<tr>
			<td>Project Assignment 4: Creating (Many) Forms and Inputs</td>
			<td>
			<a href="formGallery.html">View Forms and Inputs</a>
			</td>
			<td>
				<a href="http://htmlpreview.github.com/?https://github.com/Tingting-Chang/learning-web-components/tree/master/components/forms-inputs">Project Assignment 4</a>
			</td>
		</tr>
		<tr>
			<td>Project Assignment 5: The Calculator</td>
			<td>
				<a href="http://htmlpreview.github.com/?https://github.com/Tingting-Chang/learning-web-components/blob/master/components/calculator/index.html">View The Calculator</a>
			</td>
			<td>
				<a href="https://github.com/Tingting-Chang/learning-web-components/blob/master/components/calculator/index.html">Project Assignment 5</a>
			</td>
		</tr>
		<tr>
			<td>Project Assignment 6: Product Listing Page</td>
			<td>
				<a href="http://htmlpreview.github.com/?https://github.com/Tingting-Chang/learning-web-components/blob/master/components/product-list/productList.html">View Product Listing Page</a>
			</td>
			<td>
				<a href="https://github.com/Tingting-Chang/learning-web-components/blob/master/components/product-list/productList.html">Project Assignment 6</a>
			</td>
		</tr>
	</table>
</body>
</html>
