
<!DOCTYPE html>
<html>
<head>
	<title>A Shipping and Billing Address Form</title>
	<link rel="stylesheet" type="text/css" href="./css/address.css">
</head>
<body>
	<form>
		<section class="shipping">
			<h3>Shipping information</h3>
			<p class="firstname">
				First name <input type="text" name="firstname" id="firstname">
			</p>
			<p class="lastname">
				Last name <input type="text" name="lastname" id="lastname">
			</p>
			<p class="address">
				Address <input type="text" name="address" id="address">
			</p>
			<p class="city">
				City <input type="text" name="city" id="city">
			</p>
			<p>
				Country <input type="text" name="country" id="country">
			</p>
		</section>
		<section class="billing">
			<h3>Billing information</h3>
			<p class="firstname">
				First name <input type="text" name="firstname" id="firstname">
			</p>
			<p class="lastname">
				Last name <input type="text" name="lastname" id="lastname">
			</p>
			<p class="address">
				Address <input type="text" name="address" id="address">
			</p>
			<p class="city">
				City <input type="text" name="city" id="city">
			</p>
			<p>
				Country <input type="text" name="country" id="country">
			</p>
		</section>
		<p class="agree">
			<input type="checkbox" name="agree" id="agree"> Shipping address match the billing information
		</p>
	</form>
</body>
</html>

