```

<!DOCTYPE html>
<html>
<head>
	<title>A Credit/Debit Card Form</title>
	<link rel="stylesheet" type="text/css" href="./css/credit.css">
</head>
<body>
	<form>
		<h3>Credit card information</h3>
		<p class="fullname">Full name: <input type="text" name="fullname"></p>
		<p class="cardnum">16 Digit Card number: <input type="text" name="cardnum" maxlength="19"></p>
		<p>CSV code: <input type="text" name="csv" maxlength="3"></p>
		<p>
			Expiration date: 
			<select class="month">
				<option value="Jan">Jan</option>
				<option value="Feb" selected>Feb</option>
				<option value="Mar">Mar</option>
				<option value="Apr">Apr</option>
				<option value="May">May</option>
				<option value="Jun">Jun</option>
				<option value="Jul">Jul</option>
				<option value="Aug">Aug</option>
				<option value="Sep">Sep</option>
				<option value="Oct">Oct</option>
				<option value="Nov">Nov</option>
				<option value="Dec">Dec</option>
			</select>
			<select class="year">
				<option value="2016" selected>2016</option>
				<option>2017</option>
				<option>2018</option>
				<option>2019</option>
				<option>2020</option>
				<option>2021</option>
				<option>2022</option>
				<option>2023</option>
				<option>2024</option>
				<option>2025</option>
				<option>2026</option>
				<option>2027</option>
				<option>2028</option>
				<option>2029</option>
				<option>2030</option>
				<option>2031</option>
			</select>
		</p>
	</form>
</body>
</html>

```
