

<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
	<link rel="stylesheet" type="text/css" href="./css/login.css">

</head>
<body>
	<form>
		<p class="title"><h1>Log In to join the Yoga in DC Community!</h1></p>
		<p>
			<input type="text" name="email" value="Email" class="email">
			<input type="text" name="password" value="Password" class="password">
		</p>
		<p><a href="#">Forgot password?</a></p>
		<p><input type="checkbox" name="agree"> I have already read the terms and I total agree to the terms
		<p><input type="button" name="submit" value="Log In"  class="submit"></p>
	</form>
</body>
</html>


