```

<!DOCTYPE html>
<html>
<head>
	<title>A Questionnaire about the best ice cream brands</title>
	<link rel="stylesheet" type="text/css" href="./css/questionnaire.css">
</head>
<body>
	<form>
		<h3>What are your favorite ice cream brands?</h3>
		<p><input type="radio" name=""> Cold Stone Creameries</p>
		<p><input type="radio" name=""> Nestle</p>
		<p><input type="radio" name=""> Baskin' Robbins</p>
		<p><input type="radio" name=""> Haggen-Dazs</p>
		<p><input type="radio" name=""> Ben & Jerry's</p>
		<p><input type="radio" name=""> Other: 
			<input type="text" name="">
		</p>

		<p> By the way, my favorite are Haggen-Dazs' strawberry and green tea flavors.</p>
	</form>
</body>
</html>

```
