

<!DOCTYPE html>
<html>
<head>
	<title>Search Form for Shopping</title>
	<link rel="stylesheet" type="text/css" href="./css/search.css">
</head>
<body>
	<h2>Shopping on Weekends! </h2>
	<form method="GET" action="#">
		<input type="text" name="search" value="Search Box" class="box">
		<select>
			<option>Women</option>
			<option>Men</option>
			<option>Accessories</option>
			<option>Jewelry</option>
			<option>Shoes</option>
			<option>Sale</option>
		</select>
		<p><input type="button" name="search" class="search" value="Search"></p>
	</form>
</body>
</html>


