

<!DOCTYPE html>
<html>
<head>
	<title>Search Form for Shopping</title>
	<link rel="stylesheet" type="text/css" href="./css/search.css">
	<script type="text/javascript" src="./js/validator.js"></script>
	<script type="text/javascript" src="./js/search.js"></script>
</head>
<body>
	<h2>Shopping on Weekends! </h2>
	<div id="container">
		<div id="errorBox"></div>
		<form method="GET" action="#" id="search_form">
			<p class="search">
				<input type="text" name="search" placeholder="Search Box" id="search">
				<div class="styled_select">
					<select id="styled_select">
						<option value="" selected="">Categories</option>
						<option value="Women">Women</option>
						<option value="Men">Men</option>
						<option value="Accessories">Accessories</option>
						<option value="Jewelry">Jewelry</option>
						<option value="Shoes">Shoes</option>
						<option value="Sale">Sale</option>
					</select>
				</div>
			</p>
			
			<p><input type="submit" name="submit" id="submit" value="Search"></p>
		</form>
	</div>
	
</body>
</html>


