```

<!DOCTYPE html>
<html>
<head>
	<title>Calculator</title>
	<link rel="stylesheet" type="text/css" href="calculator.css">
</head>
<body>
	<form>
		<p class="screen"><input type="text" name="screen" id="screen"></p>
		<section class="button">
			<p><input type="button" name="clear" value="CLEAR" class="clear"></p>
			<p><input type="button" name="trans" value="+/-" class="trans"></p>
			<p><input type="button" name="percent" value="%"  class="percent"></p>
			<p><input type="button" name="delete" value="DEL" class="delete"></p>
			<p class="btn7"><input type="button" name="7" value="7"></p>
			<p class="btn8"><input type="button" name="8" value="8"></p>
			<p class="btn9"><input type="button" name="9" value="9"></p>
			<p><input type="button" name="divd" value="/" class="divid"></p>
			<p class="btn4"><input type="button" name="4" value="4"></p>
			<p class="btn5"><input type="button" name="5" value="5"></p>
			<p class="btn6"><input type="button" name="6" value="6"></p>
			<p><input type="button" name="multiply" value="*" class="multiply"></p>
			<p class="btn1"><input type="button" name="1" value="1"></p>
			<p class="btn2"><input type="button" name="2" value="2"></p>
			<p class="btn3"><input type="button" name="3" value="3"></p>
			<p><input type="button" name="subtract" value="-" class="substract"></p>
			<p class="btn0"><input type="button" name="0" value="0"></p>
			<p class="dot"><input type="button" name="dot" value="."></p>
			<p><input type="button" name="equal" value="=" class="equal"></p>
			<p><input type="button" name="add" value="+" class="add"></p>
		</section>
		
	</form>
</body>
</html>

```
