1. http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/m/ac/macbook/pro/macbook-pro-15-select-hero-201505?wid=534&hei=312&fmt=png-alpha&qlt=80&.v=cb7lh1

name: 15-inch MacBook Pro with Retina display
desc: 2.5GHz Processor 
512 GB Storage
2.5GHz quad-core Intel Core i7
Turbo Boost up to 3.7GHz
16GB 1600MHz memory
512GB PCIe-based flash storage1
Intel Iris Pro Graphics
AMD Radeon R9 M370X with 2GB GDDR5 memory
Built-in battery (9 hours)2
Force Touch trackpad

price: $2,499.00

2. http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/i/pa/ipad/pro/ipad-pro-select-silver-201603?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=-4-lx2

name: 12.9-inch iPad Pro
desc: silver, 32GB iPad Pro is more than the next generation of iPad — it’s an uncompromising vision of personal computing for the modern world. It puts incredible power that leaps past most portable PCs at your fingertips. It makes even complex work as natural as touching, swiping, or writing with a pencil. And whether you choose the 12.9-inch model or the new 9.7-inch model, iPad Pro is more capable, versatile, and portable than anything that’s come before. In a word, super.
price: $799.00

3. http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone6s/gray/iphone6s-gray-select-2015?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=kqNjH3

name: iPhone 6s
desc: space gray, 128GB, SIM-free;The next generation of Multi‑Touch.;Smile for the world’s 
most popular camera.;A9. The most advanced chip 
ever in a smartphone.;A breakthrough design.
Pushed even further.;
price: $849.00

4. name: iPod touch
desc: A8 chip, 8MP iSight camera, space gray, 128GB. iPod touch is the perfect way to carry your music collection in your pocket. With the iTunes Store — the world’s largest music catalog — you can load up your iPod touch with your favorite songs. And thanks to iCloud, everything you purchase through the iTunes Store is automatically available on all your devices for free. To enhance your music experience even more, Apple Music is available on your iPod touch, right in the Music app.
price: $399.00

http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/i/po/ipod/touch/ipod-touch-product-spacegray-2015?wid=600&hei=600&fmt=png-alpha&qlt=80&.v=RAxkV1

5. name: 11-inch MacBook Air
desc: 1.6GHz Processor 
256 GB Storage
1.6GHz dual-core Intel Core i5 processor
Turbo Boost up to 2.7GHz
Intel HD Graphics 6000
4GB memory
256GB PCIe-based flash storage1

price: $1,099.00

http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/m/ac/macbook/air/macbook-air-11-select-hero-201505?wid=472&hei=246&fmt=png-alpha&qlt=80&.v=jOrlV2

6. name: 21.5-inch iMac with Retina 4K display
desc: 3.1GHz Processor 
1TB Storage
3.1GHz quad-core Intel Core i5 processor
Turbo Boost up to 3.6GHz
8GB of onboard memory, configurable up to 16GB
1TB hard drive1
Intel Iris Pro Graphics 6200
Retina 4K 4096-by-2304 P3 display

price: $1,499.00

http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ma/imac/215/imac-215-retina-selection-hero-201510?wid=614&hei=324&fmt=png-alpha&qlt=80&.v=uMgkp1

7. Mac Pro

desc: 6-Core and Dual GPU
3.5GHz 6-Core Intel Xeon E5 processor
16GB 1866MHz DDR3 ECC memory
Dual AMD FirePro D500 with 3GB GDDR5 VRAM each
256GB PCIe-based flash storage1

http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/m/ac/mac/pro/mac-pro-select-hero-201505?wid=190&hei=300&fmt=png-alpha&qlt=80&.v=br3lv0

price: $3,999.00

8. Beats Solo2 Wireless On-Ear Headphones - Rose Gold

desc: Pair and play wirelessly with iPhone, iPad, Apple Watch, or iPod
Up to 30 foot Bluetooth range
Fine-tuned acoustics for clarity, breadth, and balance
12-hour rechargeable battery with Fuel Gauge to indicate charge level
Built-in mic and on-ear controls for taking calls and controlling music
Durable and compact folding design for easy portability

price: $299.95

http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/M/LL/MLLG2/MLLG2?wid=1144&hei=1144&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=rYnkB0

9. Magic Trackpad 2

desc: Size and Weight
Height: 0.19–0.43 inch (0.49–1.09 cm)
Width: 6.3 inch (16.0 cm)
Depth: 4.52 inches (11.49 cm)
Weight: 0.51 pound (0.231 kg)*
General
Force Touch
Multi-Touch
Connections and Expansion
Bluetooth
Lightning port
Wireless

price: $129.00

http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/M/J2/MJ2R2/MJ2R2?wid=1144&hei=1144&fmt=jpeg&qlt=80&op_sharpen=0&resMode=bicub&op_usm=0.5%2C0.5%2C0%2C0&iccEmbed=0&layer=comp&.v=aXblN3

10. Magic Mouse 2

desc: Size and Weight
Height: 0.85 inch (2.16 cm)
Width: 2.25 inches (5.71 cm)
Depth: 4.47 inches (11.35 cm)
Weight: 0.22 pound (0.099 kg)*
General
Multi-Touch
Connections and Expansion
Bluetooth
Lightning port
Wireless

price: $79.00

http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/M/LA/MLA02/MLA02?wid=1144&hei=1144&fmt=jpeg&qlt=80&op_sharpen=0&resMode=bicub&op_usm=0.5%2C0.5%2C0%2C0&iccEmbed=0&layer=comp&.v=OJDl11
























