<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Today's Deals</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,300italic|Roboto+Slab:400,300,700,100' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./css/productList.css">
	<script type="text/javascript" src="./js/productList.js"></script>
</head>
<body>
	<div class="wrapper">
		<header class="clear">
			<h1>Today's Deals</h1>
			<input id="cartShow" type="button" name="cartShow" value="My Cart">
			<p>Every day. Shop our Deal of the Day, Lightning Deals and more daily deals and limited-time sales. See deals you're Watching <a href="#">here</a>.</p>
		</header>
		<section id="productList">
			<ul class="products clear">
				<li>
					<img src="./img/macbook-pro.gif">
					<div class="cost clear">
						<span class="price">$ 2,499.00</span>
						<input class="quantity" type="text" name="qty" value="QTY1">
					</div>
					<p class="desc">15-inch MacBook Pro with Retina display</p>
					<input class="add" type="button" name="add" value="Add to Cart">
				</li>
				<li>
					<img src="./img/macbook-air.gif"">
					<div class="cost clear">
						<span class="price">$ 1,099.00</span>
						<input class="quantity" type="text" name="qty" value="QTY1">
					</div>
					<p class="desc">11-inch MacBook Air 256 GB Storage </p>
					<input class="add" type="button" name="add" value="Add to Cart">
				</li>
				<li>
					<img src="./img/imac-retina.gif">
					<div class="cost clear">
						<span class="price">$ 1,499.00</span>
						<input class="quantity" type="text" name="qty" value="QTY1">
					</div>
					<p class="desc">21.5-inch iMac with Retina 4K display</p>
					<input class="add" type="button" name="add" value="Add to Cart">
				</li>
				<li>
					<img src="./img/ipad-pro.gif">
					<div class="cost clear">
						<span class="price">$ 799.00</span>
						<input class="quantity" type="text" name="qty" value="QTY1">
					</div>
					<p class="desc">12.9-inch iPad Pro silver, 32GB</p>
					<input class="add" type="button" name="add" value="Add to Cart">
				</li>
				<li>
					<img src="./img/iphone6s.gif">
					<div class="cost clear">
						<span class="price">$ 849.00</span>
						<input class="quantity" type="text" name="qty" value="QTY1">
					</div>
					<p class="desc">iphone 6s space gray, 128GB, SIM-free</p>
					<input class="add" type="button" name="add" value="Add to Cart">
				</li>
				<li>
					<img src="./img/ipod-touch.gif">
					<div class="cost clear">
						<span class="price">$ 399.00</span>
						<input class="quantity" type="text" name="qty" value="QTY1">
					</div>
					<p class="desc">iPod touch A8 chip, space gray, 128GB</p>
					<input class="add" type="button" name="add" value="Add to Cart">
				</li>
				<li>
					<img src="./img/mac-pro-hero.gif">
					<div class="cost clear">
						<span class="price">$ 1499.00</span>
						<input class="quantity" type="text" name="qty" value="QTY1">
					</div>
					<p class="desc">6-Core Intel Xeon E5 processor</p>
					<input class="add" type="button" name="add" value="Add to Cart">
				</li>
				<li>
					<img src="./img/MLLG2.gif">
					<div class="cost clear">
						<span class="price">$ 299.95</span>
						<input class="quantity" type="text" name="qty" value="QTY1">
					</div>
					<p class="desc">Beats Solo2 Wireless Headphones Rose</p>
					<input class="add" type="button" name="add" value="Add to Cart">
				</li>
				<li>
					<img src="./img/MLA02.gif">
					<div class="cost clear">
						<span class="price">$ 129.00</span>
						<input class="quantity" type="text" name="qty" value="QTY1">
					</div>
					<p class="desc">Magic Trackpad 2 Multi-Touch Bluetooth</p>
					<input class="add" type="button" name="add" value="Add to Cart">
				</li>
			</ul>
		</section>
		<section class="shopCart clear">
			<div class="summary">
				<span id ="total"></span>
				<div class="promoCode clear">
					<input class="promo" type="text" name="promo" placeholder="Input Promotion Code">
					<input class="addPromo" type="button" name="addPromo" value="Add Promo Code">
					<div id="promoEx">
						<span> BIGSALE </span>
						<!-- 15% off all items of a specific type -->
						<span> MEMBERSHIP</span>
					</div>
				</div>
				<div class="checkOut clear">
					<input class="keep" type="button" name="keep" value="Keep Shopping">
					<input class="check" type="button" name="check" value="Check Out">
				</div>
			</div>
			<div class="cartList">
				<ul class="inCart">
					<!-- <li>
					<img src="./img/macbook-pro.gif">
					<div class="cost clear">
						<span class="price">$ 2,499.00</span>
						<input class="quantity" type="text" name="qty" value="QTY1">
					</div>
					<p class="desc">15-inch MacBook Pro with Retina display</p>
					<input class="remove" type="button" name="remove" value="Remove from Cart">
				</li>	 -->
				</ul>
			</div>
		</section>
		
	</div>
</body>
</html>